/* line 1, /Users/nozomi/Desktop/mysite/source/stylesheets/index.scss */
.index {
  margin: 100px;
  background-color: #bbbcb3; }

/* line 6, /Users/nozomi/Desktop/mysite/source/stylesheets/index.scss */
.content-list {
  display: inline-block;
  margin: 0 auto;
  font-family: 'Gudea';
  font-size: 30px;
  letter-spacing: 0.2em;
  background-color: #fff; }
  /* line 13, /Users/nozomi/Desktop/mysite/source/stylesheets/index.scss */
  .content-list ul {
    margin: 0;
    padding: 150px 100px; }
    /* line 16, /Users/nozomi/Desktop/mysite/source/stylesheets/index.scss */
    .content-list ul li {
      list-style-type: none;
      margin: 10px 0; }
      /* line 19, /Users/nozomi/Desktop/mysite/source/stylesheets/index.scss */
      .content-list ul li h2 {
        margin: 0 0 20px 0;
        padding: 5px;
        font-weight: bold; }
      /* line 24, /Users/nozomi/Desktop/mysite/source/stylesheets/index.scss */
      .content-list ul li a {
        padding: 5px;
        color: #000;
        text-decoration: none; }
        /* line 28, /Users/nozomi/Desktop/mysite/source/stylesheets/index.scss */
        .content-list ul li a:hover {
          color: #000;
          background-color: #d9ff00; }
